.welcome{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    height:100%;
}
.welcome-links{
    margin-top: 50px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap:10px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .welcome-links {
      grid-template-columns: 100%;
    }
  }
.welcome-links>a{
    width: 100%;
    border-radius: 5px;
    background-color: rgba(125,125,125,0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.welcome-links>a>i{
    font-size: 70px;
}
.welcome-links>a>*{
    color:var(--mdc-theme-text-primary-on-background, black);
    display: inline-block;
}
.welcome-links>a:visited>*{
    color:var(--mdc-theme-text-primary-on-background, black);
}
.actions{
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.container:active{
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
.side-number{
    color: var(--mdc-theme-primary,#7DC834);
    font-weight: bold;

}
.sidenote{
    margin-bottom: 15px;
}
.side-icon{
    font-family: "Material Icons";
    color: var(--mdc-theme-primary,#7DC834);
}
label {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  .add-button {
    position: absolute;
    top: 1px;
    left: 1px;
  }
button:focus{
    outline: 0 !important;
}
.teamcheck{
    columns: 2;
}
@media only screen and (max-width: 600px) {
    .teamcheck {
      columns: 1;
    }
  }
.loading{
    height: 50vh;
    text-align:center;
    margin-top: 10vh;
}
.matchnumber{
    font-size: 50px;
    font-weight: light;
}
.matchdetails{
    padding: 10px;
    padding-left: 40px;
    color: black;
    cursor: pointer;
}
.mdc-list-item{
    margin-bottom: 10px;
}
.mdc-card{
    margin: 16px;
}
.mdc-card-text{
    margin: 14px;
    margin-bottom: 0px;
}
.field-button{
    vertical-align:sub;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --mdc-theme-primary: #7DC834 !important;
    transition: ease-in-out 1000ms;
    height:100%;
}
.mdc-data-table{
    overflow: scroll !important;
    width: 100%;
}
.dashboard-table{
    max-height: 300px;
}
.match-number{
    font-weight: bold;
    text-align: center;
}
div.fade{
    animation-name: fadeall;
    animation-duration: 0.1s;
}
.fade-in{
    animation-name: fadealt;
    animation-duration: 0.1s;
}
@keyframes fadeall{
    from{color: black;}
    to{color: white}
}
.offline{
    display:block;
    align-self:center;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    max-width: 600px;
}

.scouting-form{
    z-index: 6;
    display: none;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--mdc-theme-surface, white);
    animation-name: form-zoom;
    animation-duration: 0.2s;
}
@keyframes form-zoom {
    from {transform: scale(0); width: 0; height: 0; top: 50vh; left: 50vw; border-radius: 50%; background-color: gray; display: none;}
    to {transform: initial; width: 100vw; height: 100vh; top: 0; left: 0; border-radius: 0; background-color: var(--mdc-theme-surface, white); display: block;}
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: initial;
  }
.standRow{
    margin: 15px;
}
.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}
.mdc-data-table__header-cell, .mdc-data-table__cell, .mdc-data-table__header-cell--sorted .mdc-data-table__sort-icon-button{
    color: var(--mdc-theme-text-primary-on-background, black)
}
.mdc-dialog__content, .mdc-dialog__title, .mdc-text-field:not(.mdc-text-field--focused) .mdc-floating-label, .mdc-select:not(.mdc-select--focused) .mdc-floating-label{
    color: var(--mdc-theme-text-primary-on-background, black) !important
}
.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle, .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__trailing, .mdc-select--outlined:not(.mdc-select--focused) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--focused) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--focused) .mdc-notched-outline__trailing{
    border-color: var(--mdc-theme-text-icon-on-background, black) !important;
}
.mdc-text-field__input, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon--trailing, .mdc-list-item__text:not(.drawer_text), .mdc-select__selected-text{
    color: var(--mdc-theme-text-primary-on-background, black) !important
}
noscript {
	background-color: #ff0000 !important;
	color: white;
	border-radius: 15px;
	display: inherit;
	padding: 20px;
    margin: 50px;
}
.chartjs-wrapper{
    width: 100% !important;
    height: 100% !important;
    display:block;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: var(--dark-theme-text-input, #f5f5f5) !important;
}
.mdc-text-field--disabled.mdc-text-field--filled{
    background-color: var(--mdc-theme-surface, #fafafa) 
}
.justify-content-center{
    justify-content: center;
}
.form-row{
    display:flex;
    flex-flow: column;
}
.form-row>*{
    margin: 5px;
    max-width: 100%;
}
.scale-field{
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
#scoutForm{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:20px;
    justify-content: center;
}
.mdc-dialog.mdc-dialog--fullscreen .mdc-dialog__surface{
    width:100vw;
    height:100vh;
}
#scoutForm .mdc-select{
    width:100%;
}
.title-row{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
}
.hidden{
    display:none;
}
.qr-dialog-container{
    width: 100%;
    height:100%;
    display:grid;
    grid-template-rows: 50% 50%;
    overflow: hidden;
}
#qrOptions{
    overflow: scroll;
}  
#qrcanv{
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (min-width: 672px){
    #scoutForm{
        flex-direction: row;
    }
    .qr-dialog-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: initial;
    }
}
.scale-wrapper{
    display: flex;
    justify-content: center;
    overflow:visible;
    flex-wrap: nowrap;
}
.mdc-fab{
    position:fixed;
    right:20px;
    bottom:20px;
}

@media (prefers-color-scheme: dark){
    html, body, main{
        background-color: black;
        color:white;
        --mdc-theme-text-primary-on-background: white;
        --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.75);
        --mdc-theme-on-surface:white;
        --mdc-theme-surface: #232323;
        --mdc-theme-background: #000;
    }
    .mdc-list-item *, .mdc-list-item__text>*, .scouting-dialog-container *, .mdc-deprecated-list-item{
        color:white !important;
    }
    .mdc-top-app-bar, .mdc-dialog__surface, .mdc-menu--surface{
        background-color: #232323 !important;
        color:white;
    }
    .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label, .mdc-tab:not(.mdc-tab--active) .mdc-tab__icon{
        color: rgba(255, 255, 255, 0.6);
    }
    .mdc-linear-progress__buffer-bar{
        background-color: var(--mdc-theme-surface);
    }
    .mdc-chip:not(.mdc-chip--selected){
        color:white;
    }
    .mdc-snackbar__surface{
        background-color: white;
    }
    .mdc-snackbar__label{
        color:black;
    }
    .mdc-chip{
        background-color:#222;
    }

}
.red-alliance-text{
    color: #da3434 !important;
}
.blue-alliance-text{
    color: #487fcc !important;
}
.mdc-dialog__actions, #standscout, #pitscout{
    margin-bottom: env(safe-area-inset-bottom) !important;
}
.form-slider{
    width:100%;
}
.button--destructive.mdc-button--raised{
    background-color: red !important;
}
.button--destructive:not(.mdc-button--raised){
    color:red !important;
}

.chip--red:not(.mdc-chip--selected){
    background-color: rgba(255, 0, 0, 0.25);
}
.chip--blue:not(.mdc-chip--selected){
    background-color: rgba(0, 0, 255, 0.25);
}
.mdc-chip-set{
    justify-content: center;
}
.setup-container--hidden{
    visibility: hidden;
    filter:opacity(0);
    transform: translateY(20px);
    height:0;
    margin:0;
    padding:0;
    overflow: hidden;
}
.setup-container{
    transition:ease-in-out 250ms;
    text-align: center;
}
#scouting-board-container{
    text-align: start;
}

.invisible-input {
    position: absolute;
    top: -1000px;
  }